.landingPage {
  background-color: #f8e3c5;
  color: #543418;
  font-size: 24px;

  .banner {
    width: 100vw;
    opacity: 0.8;
    height: 180px;
  }
  .title {
    font-weight: bold;
    text-align: center;
    line-height: 32px;
    padding-top: 8px;
  }
  .content {
    font-size: 18px;
    line-height: 36px;
    text-indent: 2em;
    padding: 0 20px;
  }
  .btn {
    width: 70%;
    margin: 0 auto;
    text-align: center;
    height: 50px;
    line-height: 50px;
    background-color: #d93a49;
    color: white;
    font-size: 20px;
    border-radius: 36px;
    position: fixed;
    bottom: 16px;
    left: 15%;
  }
}
