.question {
  flex: 1;
  display: flex;
  align-items: center;
  flex-direction: column;
  color: #131415;
  position: relative;
  margin-top: -14px;
  &_fixedArea {
    position: absolute;
    width: max-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    top: 30px;
    &_progress {
      --adm-progress-bar-size: 72px;
      --adm-progress-bar-track-width: 8px;
      --adm-progress-bar-track-color: #fff;
      --adm-progress-bar-fill-color: rgba(224, 58, 62, 1);
      border: 1px solid #000;
      border-radius: 6px;
      width: 290px;
    }
  }
  &_header {
    background-color: white;
    height: 72px;
    border-radius: 50%;
    margin-bottom: 20px;
    &_progress {
      --adm-progress-circle-size: 72px;
      --adm-progress-circle-track-width: 4px;
      --adm-progress-circle-track-color: rgba(232, 232, 232, 1);
      --adm-progress-circle-fill-color: rgba(224, 58, 62, 1);
    }
    &_desc {
      font-size: 10px;
      color: var(--50, rgba(19, 20, 21, 0.5));
      margin-bottom: 2px;
    }
    &_desc {
      font-size: 10px;
      color: rgba(19, 20, 21, 0.5);
    }
    &_time {
      color: rgba(19, 20, 21, 0.7);
      /* 标题/18 */
      font-size: 18px;
    }
  }
  &_main {
    margin-top: 64px;
    width: 100%;
    min-height: 470px;
    background-size: 100%; //将宽度与高度均设为百分百，显然你自己也可以根据情况设置width还是height。
    background-attachment: scroll;
    padding: 104px 22px 0 16px;
    box-sizing: border-box;
    height: max-content;
    background-repeat: no-repeat;
    background-image: url('https://sunny.tos-cn-guangzhou.volces.com/res/pic/img_answer_card.png');
    &_text {
      font-size: 18px;
      margin: 36px 0;
      min-height: 40px;
    }
    .btnGroup {
      width: 100%;
      --gap-vertical: 24px;

      :global {
        .adm-space-item {
          width: 100%;
          display: flex;
          justify-content: center;
        }
      }
      .defaultBtn {
        padding: 10px 16px;
        width: 100%;
        --border-radius: 32px;
        color: #131415;
        --background-color: #f5f5f5;
        font-size: 14px;
        line-height: 22px;
        text-align: left;
        border: 1px solid #131415;
      }
      .activeBtn {
        padding: 10px 16px;
        font-size: 14px;
        line-height: 22px;
        width: 100%;
        color: #fff;
        --border-radius: 32px;
        --background-color: rgba(224, 58, 62, 1);
        text-align: left;
      }
    }
    .btnContent {
      min-height: 44px;
      display: flex;
      align-items: center;
      gap: 2px;
    }
    .prevBtn {
      width: 90px;
      height: 32px;
      --border-radius: 24px;
      color: rgba(19, 20, 21, 0.5);

      --background-color: #f5f5f5;
      font-size: 14px;
      text-align: center;
      border: 1px solid #131415;
    }
  }
  &_footer {
    font-size: 10px;
    color: rgba(19, 20, 21, 0.24);
    text-align: center;
    margin-top: 16px;
  }
}
.hide {
  width: 0;
  height: 0;
  overflow: hidden;
}
